body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.navigation-index {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:focus,
.site-navigation a:hover {
  background-color: #242424;
}

.features-list {
  list-style: none;
}
.features-list {
  text-align: center;
}

.features-list h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("img/pattern-bsb.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("img/pattern-bsb-footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
